# Server configuration
HOST=localhost
PORT=3007
ENVIRONMENT_NAME=local

# Postgres configuration
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=55013
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=localdbpass
POSTGRES_DATABASE=knowelege-base

# Jwt
JWT_ACCESS_SECRET_KEY=b6f50a3ce8e11c16c1680276702ab0681e911904e41afc59044deda0606f7d51
# Access token lifetime in minutes
JWT_ACCESS_EXPIRE_TIME_MINUTES=360
JWT_REFRESH_SECRET_KEY=b6f50a3ce8e11c16c1680276702abewe1e911904e41afc59044deda0606f7d51
# Refresh token lifetime in minutes
JWT_REFRESH_EXPIRE_TIME_MINUTES=360

#Application
PASSWORD_LENGTH=6